<a href="https://colab.research.google.com/github/Amolrakhunde/Yes-Bank-Stock-Prediction/blob/main/Yes_Bank_Stock_Prediction_Amol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**YES BANK STOCK PREDICTION**

##Yes Bank is a well-known bank in the Indian financial domain. Since 2018, it has been in the news because of the fraud case involving Rana Kapoor. Owing to this fact, it was interesting to see how that impacted the stock prices of the company and whether Time series models or any other predictive models can do justice to such situations. This dataset has monthly stock prices of the bank since its inception and includes closing, starting, highest, and lowest stock prices of every month. The main objective is to predict the stockâ€™s closing price of the month.

#**Initializing & Importing Required Libraries**

In [3]:
#Importing libraries for data handelling
import pandas as pd
import numpy as np
from numpy import math

#Importing libraries for Data Visulization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#Importing Machine Learning libraries
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import r2_score

import warnings
warnings.filterwarnings('ignore')

#Mounting Drive & Loading Dataset

In [4]:
df = pd.read_csv('/content/drive/MyDrive/CapStone Projects/ML Yes Bank Stock Prediction/data_YesBank_StockPrices.csv')

In [5]:
#first look of dataset
df.head()

     Date   Open   High    Low  Close
0  Jul-05  13.00  14.00  11.25  12.46
1  Aug-05  12.58  14.88  12.55  13.42
2  Sep-05  13.48  14.87  12.27  13.30
3  Oct-05  13.20  14.47  12.40  12.99
4  Nov-05  13.35  13.88  12.88  13.41

**Data Description:**

Dataset contains Yes Bank stock monthly prices since it inception. Following are its features:-

* **Date:** In our data its monthly observation of stock since its inception.
* **Open:** The price a stock when the stock exchange open for the day.
* **High:** The maximum price of a stock attain during given period of time.
* **Low:** The minimum price of a stock attain during given period of time.
* **Close:** The price of a stock when the stock exchange closed for the day.